+/*navigation*/
#navbar{
    flex-direction: column;

}
#navbar ul li a{
    font-size: 12px;
}


#Home{
     height: 511px;
     padding: 5px 70px;
     
     
}
#Home::before{
    height: 650px;
    

}
#Home h1 {
    font-size: 2.0rem;
    

}
#Home h2 {
    font-size: 2.0rem;

}
#Home p {
    font-size: 1.5rem;


}
#Home button{
    font-size: 25px;
    padding: 1px 5px;
    
}
#Home h3 {
    font-size: 2.0rem;
    margin-bottom: 0px;
    padding: 1px 0px;
    
}
#services{
    flex-direction: column;
    margin: 9px;
}
#services .box{
    flex-direction: column;
}
#services .box img {
    height: 95px;

}
#partnership-section{
    
}
#partnership-section::before{
    opacity: 2;
}
    
#clients{
    overflow: hidden;
    display: flex;
    flex-direction: column;

}
.partners{

}
#contact{

}
#contact-box{

}
.h-primary{
    font-size: 2.1rem;
    padding: 6px;
}
.video-container{

}
.letters{

}